.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;

  &__text {
    background-image: linear-gradient(
      transparent 50%,
      var(--secondary-color-light) 50%,
      var(--secondary-color-light) 100%
    );
    padding-right: 1rem;
    text-transform: uppercase;
    line-height: 1.66rem;
    letter-spacing: 0.15em;
  }

  &__search {
    font-family: "Advent Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    line-height: 1.66rem;

    margin-left: -1.5rem;
    background-color: transparent;
    border: none;
    width: 10rem;
  }

  textarea:focus,
  input:focus,
  button:focus {
    outline: none;
  }

  &__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: ease-out 200ms;

    &:hover {
      transform: translateX(5px);
    }
  }
}
