.input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 40px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__text {
    background-image: linear-gradient(
      transparent 50%,
      var(--secondary-color-light) 50%,
      var(--secondary-color-light) 100%
    );
    padding-right: 1rem;
    text-transform: uppercase;
    line-height: 1.66rem;
    letter-spacing: 0.15em;
    margin-left: 1.3rem;
  }

  &__search {
    position: absolute;
    font-family: "Advent Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    line-height: 1.66rem;

    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 11.7rem;
    padding-right: 2rem;
  }

  textarea:focus,
  input:focus,
  button:focus {
    outline: none;
  }

  &__btn {
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: ease-out 200ms;

    &:hover {
      transform: translateX(5px);
    }
  }
}